{% extends "base.html" %}
{% block title %}Calvin's Video and Artifacts{% endblock %}
{% block content %}
<h3>Calvin's Video and Artifacts and stuff</h3>
<div class="media">
    <a href="/trivia">
        <img src="{{ url_for('static', filename='images/battleship.png')}}" width="64" height="64" class="mr-3">
    </a>
    <div class="media-body">
        <h5 class="mt-0">Battleship</h5>
        Play a computer science based battleship game!
    </div>
    <p></p>
    <div class="embed-responsive embed-responsive-4by3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/E6pL0okrwcY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {% endblock %}