{% extends "base.html" %}
{% block title %}Github{% endblock %}
{% block content %}
    <h1>Calvins's Goals!</h1>
    <p class="font-weight-normal">Self-Grading: 3/5</p>
    <p class="font-weight-light">Contributed on GitHub and helped debug the code for the home webpage. </p>

    <p class="font-weight-normal">Scrum Leader Grading: 3/5</p>

    <p class="font-weight-light">1 - Figure out how Splashtop Application Works</p>

    <p class="font-weight-light">2 - Figure out how IntelliJ and Github Work</p>
{% endblock %}