{% extends "base.html" %}
{% block title %}P4 Charlie B Gaming Website{% endblock %}
{% block content %}
 <image src="{{ url_for('static', filename='images/borderthree.png')}}"> 
  <h1 class="text-center">Welcome to P4 Charlie B's Website!</h1>
 <p></p>
  <div class="media">
   <a href="/trivia">
    <img src="{{ url_for('static', filename='images/trivia.png')}}" width="64" height="64" class="mr-3">
   </a>
   <div class="media-body">
    <h5 class="mt-0">Trivia Game</h5>
    Play a computer science based trivia game!
   </div>
   <div class="media">
    <a href="/randomnum">
     <img src="{{ url_for('static', filename='images/randomnumbers.png')}}" width="64" height="64" class="mr-3">
    </a>
    <div class="media-body">
     <h5 class="mt-0">Random Game</h5>
     Play a guess the number game with a computer!
    </div>
    <div class="media">
     <a href="/battleship">
      <img src="{{ url_for('static', filename='images/battleship.png')}}" width="64" height="64" class="mr-3">
     </a>
     <div class="media-body">
      <h5 class="mt-0">Battleship</h5>
      Play battleship with a computer!
     </div>
     <div class="media">
      <a href="/rocks">
       <img src="{{ url_for('static', filename='images/rock.png')}}" width="64" height="64" class="mr-3">
      </a>
      <div class="media-body">
       <h5 class="mt-0">Rock Paper Scissors</h5>
       Play rock paper scissors with a computer!
      </div>
      <div class="media">
       <a href="/pong">
        <img src="{{ url_for('static', filename='images/pong.png')}}" width="64" height="64" class="mr-3">
       </a>
      </div>
       <div class="media-body">
        <h5 class="mt-0">Pong!</h5>
        Play a classic game from the 70's!
       </div>
{% endblock %}