{% extends "base.html" %}
{% block title %}P4 Charlie B Gaming Website{% endblock %}
{% block content %}
 <image src="{{ url_for('static', filename='images/borderthree.png')}}"> 
  <h1 class="text-center">Welcome to P4 Charlie B's Website!</h1>
 <p></p>
  <div class="media">
   <a href="/trivia">
    <img src="{{ url_for('static', filename='images/trivia.png')}}" width="64" height="64" class="mr-3">
   </a>
   <div class="media-body">
    <h5 class="mt-0">Trivia Game</h5>
    Play a computer science based trivia game!
   </div>
{% endblock %}