{% extends "base.html" %}
{% block title %}Kaila's Video and Artifacts{% endblock %}
{% block content %}
    <h3>Kaila's Video and Artifacts</h3>
    <image src="{{ url_for('static', filename='images/borderthree.png')}}">
        <h1 class="text-center">Welcome to P4 Charlie B's Website!</h1>
        <p></p>
        <div class="media">
            <a href="/trivia">
                <img src="{{ url_for('static', filename='images/trivia.png')}}" width="64" height="64" class="mr-3">
            </a>
            <div class="media-body">
                <h5 class="mt-0">Trivia Game</h5>
                Play a computer science based trivia game!
            </div>
            <p></p>
    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="..."></iframe>
    </div>
{% endblock %}